*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body{
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.category{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button{
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}